In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_data = pd.read_csv("dataset/train.csv")
train_data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,Target,V13
0,CUID1872,TID229526,EID2062082,485.69445,2020-03-20 22:51:30,376474,A,BA1,BB425559,PD44707,CC1,CP0,0,2020-03-21 00:00:00
1,CUID5533,TID244499,EID1459012,393.45200,2020-04-28 07:17:12,33227,A,BA4793,BB248012,PD39453,CC1,CP0,0,2020-04-28 00:00:00
2,CUID5278,TID311877,EID0,375.75000,2020-08-15 04:11:43,0,F,BA5631,BB166256,PD237664,CC1,CP0,0,NaN
3,CUID24,TID279685,EID0,6.97225,2020-06-26 01:11:42,0,C,BA7188,BB354924,PD99032,CC1,CP0,0,NaN
4,CUID449,TID104689,EID0,16.70000,2020-09-15 10:11:06,0,C,BA7236,BB354924,PD63422,CC1,CP0,0,NaN

In [3]:
train_helper = pd.read_csv("dataset/train_helper.csv")
train_helper.head()

,V1,V3,V14,V15,V16,V17,V18,V19,V20,V21
0,CUID1626,EID1390067,B170291,A,2017-11-18 05:26:58,117.167.140.162,875,1525792,77.55,NaN
1,CUID2932,EID397864,B170291,A,2017-11-18 05:26:59,133.193.46.52,875,471293,-25.85,NaN
2,CUID7230,EID315534,B1827073,B,2017-11-18 05:27:02,127.75.140.137,875,825535,NaN,373.50
3,CUID1588,EID1724187,B170291,A,2017-11-18 05:27:30,120.210.191.123,875,2136427,-23.50,NaN
4,CUID3625,EID637357,B2356022,B,2017-11-18 05:27:55,127.75.145.110,875,825535,169.20,400.06

In [4]:
# V1	V2	V3	V9	V10 column not have significance 
train_data_V1 = train_data.drop(["V1","V2","V3","V12","V11","V8","V6","V9","V10","V13"], axis = 1)
train_data_V1.head()

          V4                   V5 V7  Target
0  485.69445  2020-03-20 22:51:30  A       0
1  393.45200  2020-04-28 07:17:12  A       0
2  375.75000  2020-08-15 04:11:43  F       0
3    6.97225  2020-06-26 01:11:42  C       0
4   16.70000  2020-09-15 10:11:06  C       0

In [5]:
train_data_V1["V5"] = pd.to_datetime(train_data_V1["V5"])

In [7]:
train_data_V1["V5_year"] = train_data_V1["V5"].dt.year
train_data_V1["V5_month"] = train_data_V1["V5"].dt.month
train_data_V1["V5_day"] = train_data_V1["V5"].dt.day
train_data_V1["V5_hour"] = train_data_V1["V5"].dt.hour
train_data_V1["V5_min"] = train_data_V1["V5"].dt.minute
train_data_V1["V5_sec"] = train_data_V1["V5"].dt.second
train_data_V1['is_weekend'] = train_data_V1['V5'].dt.weekday >= 5
train_data_V1['season'] = (train_data_V1['V5'].dt.month%12 + 3)//3

In [8]:
train_data_V1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233633 entries, 0 to 233632
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   V4          233633 non-null  float64
 1   V5          233633 non-null  datetime64[ns]
 2   V7          233633 non-null  object
 3   Target      233633 non-null  int64
 4   V5_year     233633 non-null  int32
 5   V5_month    233633 non-null  int32
 6   V5_day      233633 non-null  int32
 7   V5_hour     233633 non-null  int32
 8   V5_min      233633 non-null  int32
 9   V5_sec      233633 non-null  int32
 10  is_weekend  233633 non-null  bool
 11  season      233633 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(1), int32(7), int64(1), object(1)
memory usage: 13.6+ MB

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encode = LabelEncoder()

In [10]:
train_data_V1["V7"] = label_encode.fit_transform(train_data_V1["V7"])

In [11]:
train_data_V1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233633 entries, 0 to 233632
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   V4          233633 non-null  float64
 1   V5          233633 non-null  datetime64[ns]
 2   V7          233633 non-null  int32
 3   Target      233633 non-null  int64
 4   V5_year     233633 non-null  int32
 5   V5_month    233633 non-null  int32
 6   V5_day      233633 non-null  int32
 7   V5_hour     233633 non-null  int32
 8   V5_min      233633 non-null  int32
 9   V5_sec      233633 non-null  int32
 10  is_weekend  233633 non-null  bool
 11  season      233633 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(1), int32(8), int64(1)
memory usage: 12.7 MB

In [12]:
train_data_V1 = train_data_V1.drop("V5", axis = 1)

In [13]:
X = train_data_V1.drop("Target", axis = 1)
y = train_data["Target"]

In [14]:
# creating Logistic Regression model
from sklearn.linear_model import LogisticRegression

LogReg = LogisticRegression(random_state = 42)

In [15]:
LogReg.fit(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [16]:
y_pred = LogReg.predict(X)

In [17]:
from sklearn.metrics import precision_recall_curve
from sklearn import metrics
precision, recall, threshold = precision_recall_curve(y, y_pred)

score = max(0, 100*metrics.auc(precision, recall))
score

49.723925986483074

In [18]:
test_data = pd.read_csv("dataset/test.csv")
test_data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13
0,CUID6660,TID198043,EID908838,4154.125,13-08-2020 08:41,33227,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00
1,CUID6660,TID312736,EID502971,8350.000,17-08-2020 04:13,33227,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00
2,CUID6660,TID308818,EID231193,20.875,11-08-2020 01:40,363981,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00
3,CUID6660,TID321252,EID1124129,20457.500,30-08-2020 22:11,33227,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00
4,CUID6660,TID420788,EID908838,4154.125,13-08-2020 08:40,33227,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00

In [20]:
test_data_V1 = test_data.drop(["V1","V2","V3","V12","V11","V8","V6","V9","V10","V13"], axis = 1)
test_data_V1.head()

          V4                V5 V7
0   4154.125  13-08-2020 08:41  A
1   8350.000  17-08-2020 04:13  A
2     20.875  11-08-2020 01:40  A
3  20457.500  30-08-2020 22:11  A
4   4154.125  13-08-2020 08:40  A

In [21]:
test_data_V1["V5"] = pd.to_datetime(test_data_V1["V5"])

C:\Users\rajda\AppData\Local\Temp\ipykernel_15204\1512082551.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  test_data_V1["V5"] = pd.to_datetime(test_data_V1["V5"])

In [22]:
test_data_V1["V5_year"] = test_data_V1["V5"].dt.year
test_data_V1["V5_month"] = test_data_V1["V5"].dt.month
test_data_V1["V5_day"] = test_data_V1["V5"].dt.day
test_data_V1["V5_hour"] = test_data_V1["V5"].dt.hour
test_data_V1["V5_min"] = test_data_V1["V5"].dt.minute
test_data_V1["V5_sec"] = test_data_V1["V5"].dt.second
test_data_V1['is_weekend'] = test_data_V1['V5'].dt.weekday >= 5
test_data_V1['season'] = (test_data_V1['V5'].dt.month%12 + 3)//3

In [23]:
test_data_V1 = test_data_V1.drop("V5", axis = 1)

In [24]:
test_data_V1["V7"] = label_encode.transform(test_data_V1["V7"])

In [25]:
y_test_pred = LogReg.predict(test_data_V1)

In [26]:
y_test_proba = LogReg.predict_proba(test_data_V1)

In [27]:
probs_pred = y_test_proba[range(len(y_test_pred)), y_test_pred]

In [28]:
probs_pred

array([0.99126691, 0.98382071, 0.99420878, ..., 0.99560326, 0.99427096,
       0.99478883])

In [29]:
sample_submit = pd.read_csv("dataset/sample_submission.csv")
sample_submit.head()

          V2  Probability  Target
0  TID198043         0.88       0
1  TID312736         0.42       0
2  TID308818         0.97       1
3  TID321252         0.48       0
4  TID420788         0.41       0

In [30]:
sample_submit["Probability"] = probs_pred

In [31]:
sample_submit["Target"] = y_test_pred

In [32]:
sample_submit.to_csv("sample_test_submit_v1.csv", index = False)

In [39]:
from xgboost import XGBClassifier

In [40]:
XGB_model = XGBClassifier()

In [33]:
XGB_model.fit(X,y)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [34]:
y_pred_v1 = XGB_model.predict(X)

precision, recall, threshold = precision_recall_curve(y, y_pred_v1)

score = max(0, 100*metrics.auc(precision, recall))
score

65.61875047370076

In [35]:
y_test_pred_v1 = XGB_model.predict(test_data_V1)
y_test_proba_v1 = XGB_model.predict_proba(test_data_V1)

In [36]:
probs_pred_v1 = y_test_proba_v1[range(len(y_test_pred_v1)), y_test_pred_v1]

In [37]:
sample_submit["Probability"] = probs_pred_v1
sample_submit["Target"] = y_test_pred_v1

In [38]:
sample_submit.to_csv("sample_test_submit_v1.csv", index = False)

# Imbalance class Treatment

In [33]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

In [34]:
LogReg.fit(X_resampled,y_resampled)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [35]:
y_pred = LogReg.predict(X_resampled)
precision, recall, threshold = precision_recall_curve(y_resampled, y_pred)

score = max(0, 100*metrics.auc(precision, recall))
score

20.22236382028607

In [36]:
y_test_pred = LogReg.predict(test_data_V1)

y_test_proba = LogReg.predict_proba(test_data_V1)

probs_pred = y_test_proba[range(len(y_test_pred)), y_test_pred]


sample_submit = pd.read_csv("dataset/sample_submission.csv")
sample_submit.head()

          V2  Probability  Target
0  TID198043         0.88       0
1  TID312736         0.42       0
2  TID308818         0.97       1
3  TID321252         0.48       0
4  TID420788         0.41       0

In [37]:
sample_submit["Probability"] = probs_pred

sample_submit["Target"] = y_test_pred

sample_submit.to_csv("sample_test_submit_v2.csv", index = False)

In [41]:
XGB_model.fit(X_resampled,y_resampled)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [42]:
y_pred_v2 = XGB_model.predict(X_resampled)

precision, recall, threshold = precision_recall_curve(y_resampled, y_pred_v2)

score = max(0, 100*metrics.auc(precision, recall))
score

45.74825494308282

In [45]:
y_test_pred_v2 = XGB_model.predict(test_data_V1)
y_test_proba_v2 = XGB_model.predict_proba(test_data_V1)

probs_pred_v2 = y_test_proba_v2[range(len(y_test_pred_v2)), y_test_pred_v2]

sample_submit["Probability"] = probs_pred_v2
sample_submit["Target"] = y_test_pred_v2

In [46]:
sample_submit.to_csv("sample_test_submit_v11.csv", index = False)

# Hyperparameter tunnig

In [43]:
from sklearn.model_selection import RandomizedSearchCV

In [44]:
# Define XGBoost model
model = XGBClassifier()

# Define hyperparameters to search over
param_grid = {
    'learning_rate': [0.01, 0.1, 0.2, 0.3],
    'max_depth': [3, 4, 5, 6, 7],
    'min_child_weight': [1, 3, 5, 7],
    'subsample': [0.5, 0.6, 0.7, 0.8, 0.9],
    'colsample_bytree': [0.5, 0.6, 0.7, 0.8, 0.9],
    'n_estimators': [100, 200, 300, 400, 500]
}

# Define random search with 5-fold cross-validation
random_search = RandomizedSearchCV(
    estimator=model, 
    param_distributions=param_grid, 
    n_iter=50, 
    scoring='accuracy', 
    cv=5, 
    verbose=3,
    n_jobs=-1
)

# Perform random search to find best hyperparameters
random_search.fit(X_resampled, y_resampled)

# Print best hyperparameters and corresponding accuracy score
print("Best hyperparameters:", random_search.best_params_)
print("Best accuracy score:", random_search.best_score_)

Fitting 5 folds for each of 50 candidates, totalling 250 fits
Best hyperparameters: {'subsample': 0.7, 'n_estimators': 500, 'min_child_weight': 1, 'max_depth': 7, 'learning_rate': 0.3, 'colsample_bytree': 0.8}
Best accuracy score: 0.9844626356837518

In [45]:
xgb_best_model = XGBClassifier(subsample =  0.7, 
                               n_estimators = 500, 
                               min_child_weight = 1, 
                               max_depth = 7, 
                               learning_rate = 0.3, 
                               colsample_bytree = 0.8)

In [46]:
xgb_best_model.fit(X_resampled, y_resampled)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.8, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.3, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=7, max_leaves=None,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=500, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [47]:
y_pred_v3 = xgb_best_model.predict(X_resampled)

precision, recall, threshold = precision_recall_curve(y_resampled, y_pred_v3)

score = max(0, 100*metrics.auc(precision, recall))
score

49.223543232599965

In [48]:
y_test_pred_v3 = xgb_best_model.predict(test_data_V1)
y_test_proba_v3 = xgb_best_model.predict_proba(test_data_V1)

probs_pred_v3 = y_test_proba_v1[range(len(y_test_pred_v3)), y_test_pred_v3]

sample_submit["Probability"] = probs_pred_v3
sample_submit["Target"] = y_test_pred_v3

In [49]:
sample_submit.to_csv("sample_test_submit_v5.csv", index = False)

In [50]:
y_resampled.value_counts()

Target
0    232343
1    232343
Name: count, dtype: int64

In [51]:
from imblearn.over_sampling import SMOTE

# X is the feature matrix, y is the target variable
smote = SMOTE(sampling_strategy=0.4, random_state=42)
X_resampled_v1, y_resampled_v1 = smote.fit_resample(X, y)

In [53]:
xgb_best_model.fit(X_resampled_v1, y_resampled_v1)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.8, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.3, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=7, max_leaves=None,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=500, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [54]:
y_pred_v3 = xgb_best_model.predict(X_resampled_v1)

precision, recall, threshold = precision_recall_curve(y_resampled_v1, y_pred_v3)

score = max(0, 100*metrics.auc(precision, recall))
score

70.40546990381516

In [55]:
y_test_pred_v4 = xgb_best_model.predict(test_data_V1)
y_test_proba_v4 = xgb_best_model.predict_proba(test_data_V1)

probs_pred_v4 = y_test_proba_v1[range(len(y_test_pred_v4)), y_test_pred_v4]

sample_submit["Probability"] = probs_pred_v4
sample_submit["Target"] = y_test_pred_v4

In [56]:
sample_submit.to_csv("sample_test_submit_v6.csv", index = False)

In [57]:
from sklearn.ensemble import RandomForestClassifier

random_model = RandomForestClassifier()

random_model.fit(X,y)

RandomForestClassifier()

In [59]:
y_pred_v5 = random_model.predict(X)

precision, recall, threshold = precision_recall_curve(y, y_pred_v5)

score = max(0, 100*metrics.auc(precision, recall))
score

99.40930629390685

In [60]:
y_test_pred_v5 = random_model.predict(test_data_V1)
y_test_proba_v5 = random_model.predict_proba(test_data_V1)

probs_pred_v5 = y_test_proba_v1[range(len(y_test_pred_v5)), y_test_pred_v5]

sample_submit["Probability"] = probs_pred_v5
sample_submit["Target"] = y_test_pred_v5

In [61]:
sample_submit.to_csv("sample_test_submit_v7.csv", index = False)

In [62]:
random_model.fit(X_resampled,y_resampled)

RandomForestClassifier()

In [64]:
y_pred_v5 = random_model.predict(X_resampled)

precision, recall, threshold = precision_recall_curve(y_resampled, y_pred_v5)

score = max(0, 100*metrics.auc(precision, recall))
score

0.0006455889062007003

In [65]:
y_test_pred_v5 = random_model.predict(test_data_V1)
y_test_proba_v5 = random_model.predict_proba(test_data_V1)

probs_pred_v5 = y_test_proba_v1[range(len(y_test_pred_v5)), y_test_pred_v5]

sample_submit["Probability"] = probs_pred_v5
sample_submit["Target"] = y_test_pred_v5

In [66]:
sample_submit.to_csv("sample_test_submit_v8.csv", index = False)

# SVM model

In [67]:
from sklearn.svm import SVC
from sklearn.utils import class_weight
from sklearn.metrics import classification_report

In [68]:
# Calculate class weights
class_weights = class_weight.compute_class_weight('balanced', classes=[0, 1], y=y)

In [72]:
class_weights = dict(zip(np.unique(y), [0.50277607, 90.55542636]))

In [73]:
class_weights

{0: 0.50277607, 1: 90.55542636}

In [74]:
# Define the SVM model with class_weight parameter
svm_model = SVC(kernel='linear', class_weight=class_weights)

In [ ]:
# Train the model
svm_model.fit(X, y)

In [ ]:
y_pred_v7 = svm_model.predict(test_data_V1)